* {
  padding: 0;
  margin: 0;
}
#bbu {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 34px;
  right: 0;
}

.container1 {
  position: relative; 
   
}

#message {
  position: absolute; 
  bottom: 0; 
  width: 297px; 
  height: 30px;
}

.name1 {
  height: 80px;
  width: 360px;
  text-align: center;
  background: coral;
}

.name2 {
  color: yellow; 
 
}

#opp {
  height: 100px;
  text-align: center;
 
}